


<html xmlns="http://www.w3.org/1999/xhtml" ng-app="MoviesWebAPI">
<head>
    @Styles.Render("~/Content/css")
    <title></title>
    <script src="~/Scripts/jquery-2.1.4.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap.js"></script>
    <script src="~/ngApp/app.js"></script>
    <script src="~/ngApp/services/customService.js"></script>
    <script src="~/ngApp/controllers/newServiceController.js"></script>
    <script src="~/ngApp/controllers/moviesController.js"></script>
</head>
<body class="container">
    <h1>Movie List</h1>
    <ng-view></ng-view>
</body>
</html>
